body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.biggy {
  display: flex;
  flex-direction: column; /* Align children vertically */
}

.top-component {
  z-index: 100;
  /* height: 10vh; */
}

.lower-component {
  position: relative;
  padding-top: 1rem;
}

.blog-container {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  z-index: inherit;
  animation: blog-fade-in 3s linear 5s;
  animation-fill-mode: forwards;
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  mask-size: 0%;
  -webkit-mask-size: 0%;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );    
}

@keyframes blog-fade-in {
  from {
    -webkit-mask-size: 0%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );    
  }
  50% {
    -webkit-mask-size: 100%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    );    

  }
  100% {
    -webkit-mask-size: 100%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    );    
    color: black;
  }
}


.blog-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: sword-animation 5s linear; /* Smooth zoom transition */
  animation-fill-mode: forwards;
  z-index: -1; /* Keeps the background behind content */
}

.blog-background-image-skip {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1; /* Keeps the background behind content */
  transform: scale(400) translateX(-1.4vh);
}


/* oh I see, so the first part is the trigger, the second part is what it is actually effected */
/* maybe need two different keyframes? */
@keyframes sword-animation {
  from {

  }
  33% {
    transform: scale(10) translateY(-15vh) translateX(-1.4vh);
  }
  66% {
    transform: scale(10) translateY(10vh) translateX(-1.4vh);
  }
  100% {
    transform: scale(400) translateX(-1.4vh);
  }

}

#root {
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow content to grow and fill available space */
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
}

.title {
  color:#FF9500;
  transition: all 1s ease-in;
  transform-origin: left;
  display: inline-block;
  margin: 0;  
}

.title:hover {
  color: #1f93ff;
  transform: scale(1.5);
}

.nav-option {
  transition: all 1s ease-out;
}

.nav-option:hover {
  color: #1f93ff;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main > :first-child {
  margin-top: 0;
}

main > :last-child {
  margin-bottom: 0;
}

.box {
}

.box.highlight {
  background-color: yellow; /* Highlight color */
}

.marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
}

.Blue {
  background-color: #007AFF;
}

.Red {
  background-color: #FF3B30;
}

.Yellow {
  background-color: #FFCC00;
}

.Green {
  background-color: #34C759;
}

.Purple {
  background-color: #AF52DE;
}

.Orange {
  background-color: #FF9500;
}

.creature-image {
  border: 2px solid black;
}

.creature-image:hover {
  border: 2px solid #007AFF; /* Change this color as needed */
}

.container {
  position: relative;
}

.bottom-button {
  background-color: red;
  /* Center the button horizontally */
}

/* for theoretical blog */
.blog-post {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.blog-post img {
  max-width: 100%;
  height: auto;
}

.blog-post .tags {
  margin-top: 10px;
}

.blog-post .tag {
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 5px;
  margin-right: 5px;
}

.creature-image {
  width: 100%;    /* Ensures the image takes the full width of the container */
  height: auto;   /* Maintains aspect ratio */
  object-fit: cover; /* Ensures the image covers the entire area of the container */
}


.social-media-buttons {
  display: flex;
  gap: 1em;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}

.social-media-buttons a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.social-media-buttons a:hover {
  color: #007AFF; /* Change this to the hover color of your choice */
}

.facebook-btn { color: #3b5998; }
.twitter-btn { color: #1DA1F2; }
.instagram-btn { color: #E1306C; }
.linkedin-btn { color: #0077B5; }
.github-btn { color: #333; }



/* hex map css */
.single-hex {
  flex-grow: 1;
}

.half-hex {
  flex-grow: 0.5;
  opacity: 0;
  margin: -0.5px;
}

.hex-map-container {
  margin: 0 auto;
  /* overflow: scroll;
  overflow-y: scroll;
  height: 50vh; */

}

.hex-image {
  margin: 1.5px;
  z-index: 10;
  position: relative;
}

/* might want an animation of this flickering in and out which would be helpful maybe? */
.hex-image.semi-transparent {
  z-index: 1;
  opacity: 50%;
}

/* this is for tiles that need to be completely hidden */
.hex-image.transparent {
  z-index: 1;
  opacity: 0%;
}

.hex-map-slide-container {
  position: absolute;
}

/* This is part of the issue */
#hex-map-canvas {
  /* transform: scale(2); */
  
}


.slide-container {

}

/*! hex map css end */
